<div class="book-card">
  <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do livro" />
  <h2>{{ book.volumeInfo.title }}</h2>
  <p>{{ book.volumeInfo.authors.join(", ") }}</p>
  <p>
    {{
      book.volumeInfo.description.length > 200
        ? book.volumeInfo.description.substring(0, 200) + "..."
        : book.volumeInfo.description
    }}
  </p>
  <div class="button-container">
    <button class="right-button" (click)="addToFavorites()" alt="Favoritos">
      Adicionar aos Favoritos
    </button>
  </div>
</div>
