.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0effb;
  backdrop-filter: blur(40px);
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(193, 179, 255, 0.625);
  z-index: 1000; // Ensure the navbar is on top of other components
}

a {
  text-decoration: none;
  color: inherit;
}

.title-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.navbar-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #7065f0;
  text-decoration: none;
}

.favorites-icon {
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}

.heart-icon {
  font-size: 40px;
  color: #7065f0;
}

.favorites-count {
  position: absolute;
  top: 5px;
  right: -10px;
  background-color: #7065f0;
  border-radius: 50%;
  color: #fff;
  padding: 3px;
  font-size: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
