<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="query"
    (input)="onInputChange()"
    placeholder="Busque por tags ou notas"
  />
  <button (click)="onSearch()">Buscar</button>

  <div class="filter-dropdown">
    <label for="filter">Filtrar por:</label>
    <select id="filter" [(ngModel)]="selectedFilter" (change)="applyFilter()">
      <option value="bestRated">Melhor Avaliado</option>
      <option value="mostTags">Mais Tags</option>
      <option value="mostNotes">Mais Notas</option>
    </select>
  </div>
</div>
