.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  grid-row-gap: 60px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #7065f0;
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: #9087f0;
    }

    &.active {
      background-color: #4f46af;
      color: white;
    }

    &:disabled {
      background-color: #e8e5eb;
      cursor: not-allowed;
    }
  }
}

.no-books-found {
  display: flex;
  color: #7065f0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  max-width: 32ch;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  hyphens: auto;

  @media (max-width: 600px) {
    max-width: 100%;
    padding: 0 10px;
  }
}

.loading-message {
  display: flex;
  color: #7065f0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  inset: 0;

  @media (max-width: 600px) {
    width: 80%;
    padding: 0 10px;
  }
}
