<app-navbar [favoriteCount]="favoriteCount"></app-navbar>

<router-outlet></router-outlet>

<div *ngIf="isHomeRoute">
  <app-search-bar (search)="onSearch($event)"></app-search-bar>

  <div *ngIf="isLoading" class="loading-message">
    <img src="/loading.svg" alt="Carregando..." />
  </div>

  <div *ngIf="!isLoading && books.length > 0" class="book-list">
    <app-book-card-simple
      *ngFor="let book of books"
      [book]="book"
      (favoriteAdded)="onFavoriteAdded()"
    ></app-book-card-simple>
  </div>

  <div *ngIf="!isLoading && books.length === 0" class="no-books-found">
    Não foram encontrados livros para sua pesquisa.
  </div>

  <div class="pagination" *ngIf="!isLoading && totalItems > booksPerPage">
    <button (click)="prevPage()" [disabled]="currentPage === 1">←</button>
    <button
      *ngFor="let page of visiblePages"
      (click)="paginate(page)"
      [class.active]="currentPage === page"
    >
      {{ page }}
    </button>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === Math.ceil(totalItems / booksPerPage)"
    >
      →
    </button>
  </div>
</div>
