@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #f7f7fd;
  margin: 0;
  padding: 0;
}

p-rating {
  position: relative;
  z-index: 0; // Lowered z-index to ensure it stays behind the navbar

  .p-rating-icon {
    color: #7065f0;
  }
  .p-rating-cancel {
    color: #7065f0;
  }
}
