<h4><a href="/">☚ Voltar</a></h4>
<h1>Livros Favoritos</h1>
<div *ngIf="favoriteBooks.length > 0" class="book-list-fav">
  <app-book-card
    *ngFor="let book of favoriteBooks"
    [book]="book"
    (favoriteRemoved)="onFavoriteRemoved(book)"
  ></app-book-card>
</div>
<div *ngIf="favoriteBooks.length === 0" class="div-final">
  <a href="/"
    ><p>
      Você não tem nenhum favorito adicionado ainda,
      <u>clique&#32;aqui&#32;</u>&#32;
    </p>
    <p>para voltar e adicionar livros</p>
  </a>
</div>
