<h4><a href="/">☚ Voltar</a></h4>
<h1>Livros Favoritos</h1>


<app-favorites-filter
  (search)="onSearch($event)"
  (filterApplied)="onFilterChange($event)"
></app-favorites-filter>


<div *ngIf="isLoading" class="loading">
  <img src="/loading.svg" alt="Carregando..." />
</div>


<div *ngIf="!isLoading && filteredBooks.length > 0" class="book-list-fav">
  <app-book-card
    *ngFor="let book of filteredBooks"
    [book]="book"
    (favoriteRemoved)="onFavoriteRemoved(book)"
    (tagsUpdated)="onBookUpdated()"
    (notesUpdated)="onBookUpdated()"
    (ratingUpdated)="onBookUpdated()"
  ></app-book-card>
</div>


<div *ngIf="!isLoading && filteredBooks.length === 0" class="div-final">
  <a href="/">
    <p class="p1">
      Você não tem nenhum favorito adicionado ainda ou não há resultado para sua
      busca.
    </p>
  </a>
</div>
