<div class="book-card1">
  <a class="remove-btn" (click)="removeFromFavorites()"> ✖️ </a>
  <div class="book-card">
    <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do livro" />
    <h2>{{ book.volumeInfo.title }}</h2>
    <p-rating
      [(ngModel)]="value"
      [cancel]="false"
      (onRate)="onRatingChange($event.value)"
    ></p-rating>
    <p>{{ book.volumeInfo.authors.join(", ") }}</p>
    <p>
      {{
        book.volumeInfo.description.length > 200
          ? book.volumeInfo.description.substring(0, 200) + "..."
          : book.volumeInfo.description
      }}
    </p>

    <!-- Exibe tags -->
    <div *ngIf="tags.length > 0" class="tags-container">
      <span *ngFor="let tag of tags; let i = index" class="tag">
        #{{ tag }}
        <a (click)="removeTag(i)" class="a-remove"><p>✕</p></a>
      </span>
    </div>

    <div class="button-container">
      <button class="left-button" (click)="addNotePopup()" alt="Anotações">
        Anotações
        <span class="tooltip-text">Adicionar,editar ou ver Anotações</span>
      </button>
      <button class="middle-button" (click)="openTagPopup()" alt="Tags">
        Tags
        <span class="tooltip-text">Adicionar Tag</span>
      </button>
    </div>
  </div>

  <div class="overlay" [class.active]="isTagPopupVisible || isNotePopupVisible">
    <!-- Popup para adicionar tag -->
    <div *ngIf="isTagPopupVisible" class="tag-popup">
      <div class="popup-header">Adicione uma #Tag</div>
      <input
        type="text"
        [(ngModel)]="newTag"
        placeholder="Adicione sua nova tag aqui"
      />
      <div class="popup-buttons">
        <button class="cancel-button" (click)="closeTagPopup()">Fechar</button>
        <button class="confirm-button" (click)="addTag()">Adicionar</button>
      </div>
    </div>
  </div>

  <!-- Popup para adicionar anotações -->
  <div
    *ngIf="isNotePopupVisible"
    class="note-popup"
    [ngStyle]="{ bottom: notes.length <= 2 ? 'auto' : '100px' }"
  >
    <div class="popup-header">Anotações</div>

    <div class="existing-notes" *ngIf="notes.length > 0">
      <div *ngFor="let note of notes; let i = index" class="note">
        <h3>{{ note.title }}</h3>
        <p>{{ note.description }}</p>
        <small *ngIf="note.page">Página: {{ note.page }}</small>

        <button class="remove-note" (click)="removeNote(i)" alt="Remover">
          ✖️
          <span class="tooltip-text-note">Remover</span>
        </button>
        <button class="edit-note" (click)="editNote(i)" alt="Editar">
          ✎
          <span class="tooltip-text-note">Editar</span>
        </button>
      </div>
    </div>

    <div class="add-note-section">
      <input type="text" [(ngModel)]="newNoteTitle" placeholder="Título" />
      <textarea
        [(ngModel)]="newNoteDescription"
        placeholder="Descrição"
      ></textarea>
      <input
        type="number"
        [(ngModel)]="newNotePage"
        placeholder="Página (Opcional)"
      />
      <button class="confirm-button" (click)="addNoteToBook()">
        {{ isEditingNote ? "Salvar Alterações" : "Adicionar Nota" }}
      </button>
    </div>

    <div class="popup-buttons">
      <button class="cancel-button" (click)="closeNotePopup()">Fechar</button>
    </div>
  </div>
</div>
