.book-card {
  position: relative;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-card img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.book-card h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #080929;
  margin: 10px 0;
  line-height: 1.4em;
  max-height: 2.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card p {
  font-size: 0.875rem;
  color: #6b7280;
  line-height: 1.4;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  position: relative;
  display: inline-block;
  width: 48%;
  background-color: #7065f0;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

button:hover {
  background-color: #5847c7;
}

.left-button {
  margin-right: 5px;
}

.right-button {
  margin-left: 5px;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #100a55;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  white-space: pre-wrap;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #100a55 transparent transparent transparent;
}

.book-card1 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.remove-btn {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  position: relative;
  transition: color 0.3s ease;

  &:hover {
    color: darkred;
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

.remove-btn .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #b11717;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 48%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  white-space: pre-wrap;
}

.remove-btn .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #b11717 transparent transparent transparent;
}

.tag-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #f7f7fd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;

  .popup-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #5847c7;
  }

  input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: #7065f0;
  }

  .popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .cancel-button {
      background-color: #7065f0;
      color: #fff;

      &:hover {
        background-color: #5847c7;
      }
    }

    .confirm-button {
      background-color: #fff;
      color: #5847c7;
      border: 1px solid #5847c7;
      &:hover {
        background-color: #e1e1ff;
      }
    }
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  p {
    color: #5847c7;
    margin-left: 7px;
    margin-top: 0px;
    margin-right: 0px;
    font-size: 8px;
  }
}

.tag {
  position: relative;
  background-color: #f7f7fd;
  border: 1px solid #5847c7;
  border-radius: 8px;
  padding: 2px 6px;
  margin: 3px;
  font-size: 12px;
  display: flex;
  color: #5847c7;
  align-items: center;
  text-align: center;
}

.a-remove {
  background: none;
  border: none;
  cursor: pointer;
}

/**** Popup de Anotações ****/
.note-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 450px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f7f7fd;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  text-align: left;
  bottom: 100px;
  display: block;

  /* Ajuste de layout para telas pequenas */
  @media (max-width: 768px) {
    width: 90%;
    max-width: 400px;
    top: 20%;
    bottom: 150px;
  }

  .popup-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #5847c7;
    text-align: center;
  }

  .existing-notes {
    margin-bottom: 20px;

    .note {
      background-color: white;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      position: relative;
      word-break: break-word;
      overflow: hidden;

      h3 {
        font-size: 1.2rem;
        margin-bottom: 5px;
      }

      p {
        font-size: 1rem;
        color: #333;
      }

      small {
        font-size: 0.85rem;
        color: #888;
      }

      .remove-note {
        position: absolute;
        top: 1%;
        right: 0;
        margin-right: -70px;
        background: none;
        border: none;
        font-size: 16px;
        color: red;
        cursor: pointer;

        &:hover {
          color: darkred;
        }

        @media (max-width: 768px) {
          margin-right: -50px;
        }
      }
    }
  }

  .add-note-section {
    margin-bottom: 10px;

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: 1rem;
      outline-color: #7065f0;
    }

    textarea {
      height: 80px;
      resize: none;
      outline-color: #7065f0;
    }

    .confirm-button {
      background-color: white;
      color: #5847c7;
      border: 1px solid #5847c7;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e1e1ff;
      }
    }
  }

  .popup-buttons {
    display: flex;
    justify-content: center;

    .cancel-button {
      background-color: #7065f0;
      color: white;
      border: none;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #5847c7;
      }
    }
  }
}

/* Fundo escurecido */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
